[Unit]
Description=Update the IP on DNSOMatic

[Service]
WorkingDirectory=/mnt/dados/App/masseffect-maintenance
Type=oneshot
ExecStart=/usr/bin/python update-dnsomatic.py
KillMode=process

[Install]
WantedBy=multi-user.target
